
<div id="root"></div>
<style>
/* Cambia il colore di tutto il testo del sito */
  body {
    color: #495057;; 
    font-family: "Source Sans Pro" !important;
  }

/* Cambia lo sfondo e il testo di bottoni e controlli (input, select, textareas) */
  button, 
  input, 
  select, 
  textarea, 
  .btn {
    background-color: #549b45; 
    color: #ffffff; 
  }
</style>

