
<div id="root"></div>
<style>
  body {
    color: #495057 !important;
  }
  
  button, 
  input, 
  select, 
  textarea, 
  .btn {
    background-color: #549b45 !important;
    color: #000000 !important;
    transition: background-color 0.2s ease !important; /* Transizione fluida */
  }
  
  button:hover, 
  input:hover, 
  select:hover, 
  textarea:hover, 
  .btn:hover {
    background-color: #335e2a !important;
    color: #ffffff !important;
  }

.homepage-card-icon-circle {
  background-color: #549b45 !important;
  }

</style>
