
<div id="root"></div>
<style>
  body {
    color: #495057 !important;
  }
  
  .btn,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="checkbox"]
  {
    background-color: #549b45 !important;
    color: #ffffff !important;
    transition: background-color 0.2s ease !important; /* Transizione fluida */
  }
  
  .btn:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="checkbox"]:hover
  {
    background-color: #335e2a !important;
    color: #ffffff !important;
  }

.homepage-card-icon-circle 
  {
  background-color: #549b45 !important;
  }

</style>
